  <div class="container">
    <img src="./favicon.ico"   width="15%" height="auto" alt="">
    <nav>  
    <button routerLink="/" routerLinkActive="active one" [routerLinkActiveOptions]="{exact: true}">Add User</button>
    <button routerLink="/list-user" routerLinkActive="active two">List User</button>
    <button routerLink="/edit-user" routerLinkActive="active three">Edit User</button>
    <button routerLink="/login-user" routerLinkActive="active four">Login User</button>
    <button routerLink="/registration-user" routerLinkActive="active registration-user">Registr User</button>
  </nav>  
    <router-outlet></router-outlet>
    </div> 
    <div class="container">